{% extends "network/layout.html" %}
{% load static %}

{% block header %}
<h2>{{ person.username }}</h2>
<p id="fol"><span id="followers">Followers: {{ person.followers.count }}</span> Following: {{ person.following.count }}
</p>
{% if user.is_authenticated %}
{% if person.username != user.username %}
{% if user in person.followers.all %}
<a href="{% url 'follow' person.id user.id %}">Unfollow</a>
{% else %}
<a href="{% url 'follow' person.id user.id %}">Follow</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block addtwit %}
{% if user.is_authenticated and user.username == person.username %}
<div id="new-post">
    <h5>New Post</h5>
    <form id="compose-form" action="{% url 'compose' %}" method="post">
        {% csrf_token %}
        <textarea name="post" class="form-control area" id="compose-body" rows="2"></textarea>
        <input type="submit" class="btn btn-primary postbtn" value="Post">
    </form>
</div>
{% endif %}
<hr>
{% endblock %}

{% block body %}

{% for post in page_obj %}
<div class="post">
    <a class="userlink" href="{% url 'person' post.user.id %}"><strong>{{ post.user.username }}</strong></a>
    <span class="time">{{ post.timestamp }}</span>

    {% if post.user.username == user.username %}
    <button class="editbtn btn btn-outline-primary" id="b{{ post.id }}">Edit</button><br>
    {% endif %}

    {{ post.content }}<br>

    <span class="likes">
        {% if user.is_authenticated %}
        <i class='far fa-heart like' id="i{{ post.id }}" {% if user in post.likes.all %}style="color:Blue;" {% else
            %}style="color:Red;" {% endif %}></i>
        {% else %}
        <i class='far fa-heart'></i>
        {% endif %}

        <span id="likes{{ post.id }}">
            {% if post.likes.count > 0 %}
            {{ post.likes.count }}
            {% endif %}
        </span>
    </span>
</div>

<div class="edit" id="edit{{ post.id }}">
    <form id="compose-form" action="{% url 'edit' post.id user.id %}" method="post">
        {% csrf_token %}
        <textarea name="edit" class="form-control area" id="compose-body" rows="2">{{ post.content }}</textarea><br>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
</div>

<hr>
{% endfor %}

<script src="{% static 'network/post.js' %}"></script>
{% endblock %}