{% extends "network/layout.html" %}
{% load static %}

{% block header %}
    <h2>All Posts</h2>
{% endblock %}

{% block addtwit %}
    {% if user.is_authenticated %}
        <div id="new-post">
            <h5>New Post</h5>
            <form id="compose-form" action="{% url 'compose' %}" method="post">
                {% csrf_token %}
                <textarea name="post" class="form-control area" id="compose-body" rows="2"></textarea>
                <input type="submit" class="btn btn-primary postbtn" value="Post">
            </form>
        </div>
    {% endif %}
    <hr>
{% endblock %}

{% block body %}
    {% for post in post_list %}
        <div class="post">
            <a class="userlink" href="{% url 'person' post.user.id %}">
                <strong>{{ post.user.username }}</strong>
            </a>
            <span class="time">{{ post.timestamp }}</span>

            {% if post.user.username == user.username %}
                <button class="editbtn btn btn-outline-primary" id="e{{ post.id }}">Edit</button>
            {% endif %}

            <div className="post-content" id="post-content{{ post.id }}">{{ post.content }}</div>

            {% if user.is_authenticated %}
                <div class="edit" id="edit-content{{ post.id }}" style="display:none;">
                    <form>
                        <textarea name="edit" class="form-control area" 
                            id="new-message-text{{ post.id }}" rows="2">{{ post.content }}</textarea>
                        <button type="button" 
                        class="save-cansel-btns confirm-edit-btn btn btn-primary" 
                        id="s{{ post.id }}">
                            Save
                        </button>
                        <button type="button" 
                        class="save-cansel-btns cansel-edit-btn btn btn-primary" 
                        id="c{{ post.id }}">
                            Cansel
                        </button>
                    </form>
                </div>
            {% endif %}


            <div class="d-flex justify-content-center">
                {% if user.is_authenticated %}
                    <button class="likes">
                        <i class="bi bi-suit-heart-fill" id="l{{ post.id }}" 
                        {% if user in post.likes.all %}
                            style="color: rgb(255, 0, 98);"
                        {% else %}
                            style="color: gray;"
                        {% endif %}
                        ></i>
                    </button>
                {% else %}
                    <i class="bi bi-suit-heart"></i>
                {% endif %}
        

                <div id="likes{{ post.id }}" class="likes-num">
                    {{ post.likes.count }}
                </div>
            </div>
        </div>
    {% endfor %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}