.like {
	cursor: pointer;
}

#fol {
	color: gray;
}

#followers {
	margin-right: 10px;
}

.userlink {
	margin-right: 10px;
}

.editbtn {
	float: right;
}

.save-cansel-btns {
	display: inline-block;
	margin: 2px auto;
}

.time {
	color: gray;
}

.likes, .likes-num {
	display: block;
	border: none;
	padding: 5px;
	cursor: pointer;
	width: 1.5rem;
	background-color: white;
	margin: 0px;
}

.post { 
	min-height: 50px;
	border-bottom: 1px solid rgb(189, 187, 187);
}

@media (min-width: 768px) {
	.container {
		width: 60%;
	}
}

.postbtn {
	margin:3px;
}
